.progress_trackmainDiv {
  width: 600px;
  height: 800px;
  background-color: antiquewhite;
  margin: auto;
  /* margin-top: 20px; */
  /* padding-bottom: 30px; */
  min-height: 100vh;
}
.progress_topDiv {
  background-color: palevioletred;
  /* height: 300px; */
  border-bottom-left-radius: 150px;
}
.progress_tracker {
  font-size: 32px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-top: 20px;
}
.today_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
  padding-bottom: 30px;
}
.today_text {
  background-color: pink;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.week_text {
  background-color: pink;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radial_mainDiv {
  background: white;
  width: 390px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}
.radial_innerDiv {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.rad_cateogry {
  font-size: 20;
  font-weight: 700;
  margin-bottom: 0px;
  color: black;
  margin-left: 20px;
}
.rad_goal {
  font-size: 20;
  font-weight: 700;
  margin-bottom: 0px;
  color: black;
  margin-right: 20px;
  text-align: center;
}
.personal_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.persoanl_iner {
  display: flex;
  align-items: center;
  flex: 4;
  /* text-align: center; */
}
.color_round {
  width: 15px;
  background-color: rgb(65, 65, 205);
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.persoanl {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}
.one {
  font-weight: 700;
  color: black;
  font-size: 20px;
  /* margin-right: 4rem; */
  flex: 3;
  text-align: center;
}
.color_roundacad {
  width: 15px;
  background-color: purple;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.color_roundmisc {
  width: 15px;
  background-color: rgb(197, 84, 197);
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
