.version_onemainDiv {
  width: 600px;
  min-height: 100vh;
  height: 100%;
  background-color: antiquewhite;
  margin: auto;
  /* margin-top: 20px; */
  padding-bottom: 30px;
}
.version_text {
  font-size: 32px;
  text-align: center;
  color: black;
  padding-top: 30px;
}
.version_mainline {
  padding: 0px 30px;
}
.version_line {
  border: 1px solid black;
  margin-top: 30px;
}
.links_div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 30px;
}
.aca {
  font-size: 26px;
  margin-bottom: 0px;
  cursor: pointer;
}
.acas {
  font-size: 26px;
  color: black;
  margin-bottom: 0px;
  cursor: pointer;
}

.add_taskDiv {
  /* margin: 30px 0px 0px 10px; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add_task {
  width: 125px;
  height: 40px;
  color: black;
  background-color: palevioletred;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.input_oneDiv {
  display: flex;
  justify-content: space-between;
}
.tasks_name {
  font-size: 16px;
  color: black;
  font-weight: 500 !important;
  margin-right: 50px;
}
.choose_task {
  font-size: 16px;
  color: black;
  font-weight: 500 !important;
}
.task_nameinput {
  width: 220px;
  height: 45px;
  margin-left: 50px;
}

.checkbox_Div {
  margin-top: 30px;
  padding: 0px 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.checkbox_Divs {
  display: flex;
  margin-top: 20px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}
.checkbox_Dive {
  display: flex;
  /* margin-top: 10px; */
  padding: 10px 10px;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 4rem;
  /* margin-bottom: 4rem; */
  width: 86%;
}
.hci_text {
  font-size: 20px;
  color: black;
  margin-bottom: 0px;
}
.dustbin {
  color: palevioletred;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.dustbins {
  color: palevioletred;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.checkBox2_Div {
  display: flex;
  flex-direction: column;
}
.checkBox_1 {
  width: 20px;
  height: 20px;
  /* margin-top: 10px; */
}
.checkBox_1 > input {
  width: 20px !important;
  height: 20px !important;
}
.checkBox_2 {
  /* margin-top: 15px; */
  text-align: center;
}
.checkBox_2 > input {
  width: 20px !important;
  height: 20px !important;
}
.satis {
  font-size: 14px;
  color: black;
  margin-bottom: 0px;
}

.date_div {
  background: rgb(230, 225, 225);
  padding: 0px 5px;
  height: 20px;
}
.date_text {
  font-size: 12px;
  margin-bottom: 0px;
}

.check2_text {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* margin-bottom: -5.5rem; */
}
.udst_div {
  display: flex;
}
.hci_texte {
  margin-bottom: -20px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  width: 200px;
  border-radius: 0.357rem;
  height: 25px;
}
.goal_para {
  background-color: rgb(230, 225, 225);
  color: grey;
  margin-top: 5px;
  height: 70px;
  border: dotted;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.lines {
  position: relative;
}

.lineone {
  position: absolute;
  height: 70px;
  bottom: 709px;
  left: 36.3%;
  border: 1px solid black;
}
.linetwo {
  position: absolute;
  width: 35px;
  bottom: 709px;
  left: 36.3%;
  border: 1px solid black;
}
.linetwoinner{
  position: absolute;
  height: 43px;
  bottom: 656px;
  left: 38.7%;
  border: 1px solid black;
}
.linethree {
  position: absolute;
  width: 25px;
  bottom: 656px;
  left: 38.7%;
  border: 1px solid black;
}
.linefour {
  position: absolute;
  height: 52px;
  bottom: 146px;
  left: 83px;
  border: 1px solid black;
}
.linefive {
  position: absolute;
  width: 60px;
  bottom: 146px;
  left: 83px;
  border: 1px solid black;
}
.linesix {
  position: absolute;
  height: 52px;
  bottom: 29px;
  left: 83px;
  border: 1px solid black;
}
.lineseven {
  position: absolute;
  width: 52px;
  bottom: 29px;
  left: 83px;
  border: 1px solid black;
}

.dropdown-toggle::before {
  display: none !important;
}
.dropdown-toggle {
  background: none;
  border: none;
}
.dropdown-toggle:hover {
  background: none;
  border: none;
}
.dropdown-menu {
  background: #cc1a54;
  color: white !important;
}
.dropdown-item {
  background: #cc1a54;
  color: white !important;
}
.dropdown-item:hover {
  background: #cc1a54;
  color: white !important;
}
